*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;

}

.wrap{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items:center;
    justify-content:center;
}

nav{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    padding: 20px 8%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

nav h1{
    color:aliceblue;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
nav ul li {
    list-style: none;
    display:inline-block;
    margin-left: 20px;

}
nav ul li a{
    text-decoration: none;
    color:aliceblue;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav ul li :hover{
    -webjit-text-stroke:30px;
    color:skyblue;
}


.content{
    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.content h2{
    font-size: 50px;
    color:#fff;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}




.myvideo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .myvedio{
        width:100%;
        height:auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .myvedio{
        width:auto;
        height:100%;
    }
}
