
/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: #97c7e7e8;

 }

  name{
    color:aliceblue;
    font-size: 20px;
    font-family:'Lato',serif;
}

  ul li {
    width: 10%;
    list-style: none;
    display:inline-block;
    padding:0;
    background-color: darkgrey;
    margin-left: 150px;
    text-align: center;
    border-width: 6px;
    border-color: darkgrey;
    border-style: solid;
    

}


  li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-family:'Lato',serif;
    text-align: center;
   

    
}

 ul li:hover:not(.active){
    background-color: grey;
    border-color: grey;
    transition:0.4s;
}






/* Choose the appearance of the tags, h1, h3 and p: */
h1{color:grey;
    font-family: 'Lato',serif;
    text-align: center;
    font-size: 40px;
    border-color: darkgrey;
    border-style: solid;
    border:5px;
    margin: 40px;
    border-bottom-style: double;
}

h2{color:grey;
    font-family: 'Lato',serif;
    text-align: center;
    font-size: 30px;
    border-color: darkgrey;
    border-style: solid;
    border:5px;
    margin: 20px;

}


h3{color:grey;
    font-family: 'Lato',serif;
    text-align: center;
    font-size: 25px;
    border-color: darkgrey;
    border-style: solid;
    border:5px;
    margin: 20px;

}


p{
    color:black;
    font-family: 'Lato',serif;
    text-align: justify;
    margin-top:20px;
    margin-bottom:30px;
    font-size: 20px;
}
    

.myWeek{
    margin: auto;
    max-width: 800px;
    margin-bottom:20px;
    justify-content: center;
    align-items:center;
    text-align:center;
    
}










/* Set the apperance of the class, chart */
.chart{
    background-color: #fff;
    width:500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100,100,100);
    margin-bottom:20px;
    justify-content: center;
    align-items:center;
    text-align:center
}

.chart2{
    background-color: #fff;
    width:260px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100,100,100);
    margin:auto
}

.chart3{
    background-color: #fff;
    width: 750px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100,100,100);
    margin-bottom:20px;
    justify-items:center;
    align-items:center;
    text-align:center
}


